[submodule "third_party/SDL"]
	path = third_party/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "third_party/fsui-lib"]
	path = third_party/fsui-lib
	url = https://git.nanodata.cloud/moonpower/fsui-lib.git
[submodule "third_party/libchdr"]
	path = third_party/libchdr
	url = https://github.com/rtissera/libchdr.git
