[submodule "third_party/SDL"]
	path = third_party/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "third_party/libchdr"]
	path = third_party/libchdr
	url = https://github.com/rtissera/libchdr.git
[submodule "third_party/fuse-lib"]
	path = third_party/fuse-lib
	url = https://github.com/momo-AUX1/fuse-lib.git
