.vscode/
bin/
build-win32/
res/
sdl2/
SDL2-2.30.3/
sdl2-win32/
sdl2-win64/
system573/
psyq/
test/
bios/
roms/
snap/
*.BIN
*.bin
*.dll
*.exe
*.out
*.toml
!Cargo.toml
*.zip
*.cue
*.iso
*.mcd
*.rom
*.o
psxe.app
armsx.app/
.DS_Store
*/.DS_Store
node_modules
ios/HostApp/Pods/*
ios/HostApp/build/*
helpers/*
android/app/src/main/jniLibs/
android/native-deps/
mobile/temp/*
ios/HostApp/ARMSX.xcodeproj/
ios/HostApp/ARMSX.xcworkspace/
build/
.vs/
obj/
uwp/ARMSX/AppPackages/*